<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyGest"
        tools:targetApi="31">
        <activity
            android:name=".vue.AjouterCreditActivity"
            android:exported="false"
            android:label="@string/nouveau_credit"
            android:parentActivityName=".vue.AfficherclientActivity"/>
        <activity
            android:name=".vue.AjouterAccountActivity"
            android:exported="false"
            android:label="@string/ajouter_account"
            android:parentActivityName=".vue.AfficherclientActivity" />
        <activity
            android:name=".vue.ModifierAccountActivity"
            android:exported="false"
            android:label="@string/modif_account"
            android:parentActivityName=".vue.AfficherclientActivity" />
        <activity
            android:name=".vue.ActiverProduitActivity"
            android:label="@string/activer_produit"
            android:parentActivityName=".vue.MainActivity" />
        <activity
            android:name=".vue.ParametresActivity"
            android:label="@string/parametre"
            android:parentActivityName=".vue.MainActivity" />
        <activity
            android:name=".vue.AfficherCreditsClientActivity"
            android:exported="false"
            android:parentActivityName=".vue.AfficherclientActivity" />
        <activity
            android:name=".vue.AffichercreditActivity"
            android:label="@string/recap_credit"
            android:parentActivityName=".vue.AfficherclientActivity" />
        <activity
            android:name=".vue.AfficherAccountActivity"
            android:label="@string/recap_account"
            android:parentActivityName=".vue.AfficherclientActivity" />
        <activity
            android:name=".vue.ModifierClientActivity"
            android:parentActivityName=".vue.AfficherclientActivity" />
        <activity
            android:name=".vue.AfficherclientActivity"
            android:label="@string/Afficher_client"
            android:parentActivityName=".vue.GestionActivity" />
        <activity
            android:name=".vue.ModifierVersementActivity"
            android:parentActivityName=".vue.AfficheversementActivity" />
        <activity
            android:name=".vue.AfficheversementActivity"
            android:parentActivityName=".vue.GestionActivity" />
        <activity
            android:name=".vue.ModifiercreditActivity"
            android:parentActivityName=".vue.GestionActivity" />
        <activity
            android:name=".vue.CreercompteActivity"
            android:parentActivityName=".vue.MainActivity" />
        <activity
            android:name=".vue.GestionActivity"
            android:exported="true"
            android:label="@string/title_activity_gestion"
            android:theme="@style/Theme.EasyGest.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vue.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EasyGest.NoActionBar" />
    </application>

</manifest>